<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books</title>

</head>
<body>
<center><h1 style="font-size:60px;">Books</h1></center>
<div class="container">
    <form th:action="@{/book}" method="post" class="form-horizontal col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <label for="title" class="col-sm-4 control-label">Title:</label>
            <div class="col-sm-8">
                <input type="text" name="title" id="title" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="author" class="col-sm-4 control-label">Author:</label>
            <div class="col-sm-8">
                <input type="text" name="author" id="author" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="genre" class="col-sm-4 control-label">Genre:</label>
            <div class="col-sm-8">
                <input type="text" name="genre" id="genre" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="quantity" class="col-sm-4 control-label">Quantity:</label>
            <div class="col-sm-8">
                <input type="text" name="quantity" id="quantity" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="price" class="col-sm-4 control-label">Price:</label>
            <div class="col-sm-8">
                <input type="text" name="price" id="price" class="form-control"/>
            </div>
        </div>


        <input type="submit" class="button" name="add" value="Add Book"/>

        <div class="form-group">
            <label for="id" class="col-sm-4 control-label">ID for update</label>
            <div class="col-sm-8">
                <input type="text" name="id" id="id" class="form-control"/>
            </div>
        </div>

        <input type="submit" class="button" name="update" value="Update Book"/>


        <!-- ALERTS -->
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Invalid username or password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success" role="alert">
            You have been logged out.
        </div>
    </form>

    <form th:action="@{/delBook}" method="get">
        <div class="form-group">
            <label for="BookID" class="col-sm-4 control-label">ID to delete:</label>
            <div class="col-sm-8">
                <input type="text" name="BookID" id="BookID" class="form-control"/>
            </div>
        </div>
        <input type="submit" class="button" name="delete" value="Delete"/>
        <span th:text="${deleteMessage}"/>

    </form>


    <form th:action="@{/logout}" method="get">
        <input type="submit" class="button" name="logout" value="Logout"/>
    </form>
</div>

<div th:if="${param.success}">
    Author created successfully!
</div>

<form th:action="@{/bookView}" method="get">
    <input type="submit" class="button" name="viewBooks" value="View Books" />
</form>


<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.genre}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.quantity}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>