<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Employee operations</title> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        form {
            margin-top: 100px;
        }


    </style>

</head>
<body>
<center><h1 style="font-size:60px;">Books and Orders</h1></center>
<div class="container">
    <form th:action="@{/employeeOp}" method="post" class="form-horizontal col-sm-6 col-sm-offset-3">
        <h3>Find books</h3>
        <div class="form-group">
            <label for="title" class="col-sm-4 control-label">Title:</label>
            <div class="col-sm-8">
                <input type="text" name="title" id="title" class="form-control"/>
            </div>
        </div>
        <input type="submit" class="button" name="srcTitle" value="Search by title"/>



        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Invalid username or password.
        </div>



        <div class="form-group">
            <label for="author" class="col-sm-4 control-label">Author:</label>
            <div class="col-sm-8">
                <input type="text" name="author" id="author" class="form-control"/>
            </div>
        </div>

        <input type="submit" class="button" name="srcAuthor" value="Search by author"/>
        <div class="form-group">
            <label for="genre" class="col-sm-4 control-label">Genre:</label>
            <div class="col-sm-8">
                <input type="text" name="genre" id="genre" class="form-control"/>
            </div>
        </div>

        <input type="submit" class="button" name="srcGenre" value="Search by genre"/>



        <h3>Process orders</h3>
        <div class="form-group">
            <label for="bookId" class="col-sm-4 control-label">Book Id:</label>
            <div class="col-sm-8">
                <input type="number" name="bookId" id="bookId" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="quantity" class="col-sm-4 control-label">Quantity:</label>
            <div class="col-sm-8">
                <input type="number" name="quantity" id="quantity" class="form-control"/>
            </div>
        </div>
        <input type="submit" class="button" name="addOrder" value="Add an order"/>
        <div th:if="${addOErr}" class="alert alert-danger" role="alert" th:text="${oErrMsg}"> </div>
        <div th:if="${addOSucc}" class="alert alert-success" role="alert" th:text="${oSuccMsg}"> </div>

        <div class="form-group">
            <label for="orderId" class="col-sm-4 control-label">OrderId:</label>
            <div class="col-sm-8">
                <input type="number" name="orderId" id="orderId" class="form-control"/>
            </div>
        </div>
        <input type="submit" class="button" name="processOrder" value="Process the order"/>
        <div th:if="${procOErr}" class="alert alert-danger" role="alert" th:text="${procErrMsg}"> </div>
        <div th:if="${procOSucc}" class="alert alert-success" role="alert" th:text="${procSuccMsg}"> </div>


        <!-- ALERTS -->
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Invalid username or password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success" role="alert">
            You have been logged out.
        </div>
    </form>



    <form th:action="@{/logout}" method="get">
        <input type="submit" class="button" name="logout" value="Logout"/>
    </form>
</div>



<form th:action="@{/orderView}" method="get">
    <input type="submit" class="button" name="viewOrders" value="View Orders"/>
</form>


<h3>Books Table</h3>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.genre}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.quantity}"></td>
    </tr>
    </tbody>
</table>


<h1>Orders Table</h1>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>BookId</th>
        <th>BookTitle</th>
        <th>BookQuantity</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.book.id}"></td>
        <td th:text="${order.book.title}"></td>
        <td th:text="${order.book.quantity}"></td>
        <td th:text="${order.quantity}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>